.ChangePassDialog {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    width:320px;
}
    .ChangePassDialog .TitleBar {
        color: #0E1B69;
        padding: 5px;
        font-size: 16px;
        font-weight: bold;
        padding-left: 40px;
        padding-right: 40px;
    }
    .ChangePassDialog .ChangePassForm {
        margin:auto;
        width:100%;
    }
    .ChangePassDialog button {
        cursor: pointer;
        width: 195px;
        padding: 5px;
        border-width: 2px;
        border-radius: 5px;
        border: none;
        background-color: #303f9f;
        color: white;
        margin-top:10px;
    }
        .ChangePassDialog button:disabled {
            background-color: rgb(170,170,170);
            background-color: rgba(170,170,170,1.0);
        }
    .ChangePassDialog .ValidationImg {
        height: 24px;
        width: 24px;
        vertical-align: middle;
        cursor: pointer;
    }
    .ChangePassDialog .Validated {
        margin-left:27px;
    }